%h1 Listing notifications

- if current_user.fitbit?
  %pre= current_user.fitbit.add_subscription.to_yaml
  %pre= current_user.fitbit.client.subscriptions({type: :all})

%table
  %tr
    %th Provider
    %th Body
    %th User
    %th
    %th
    %th

  - @notifications.each do |notification|
    %tr
      %td= notification.provider
      %td= notification.body
      %td= notification.user
      %td= link_to 'Show', notification
      %td= link_to 'Edit', edit_notification_path(notification)
      %td= link_to 'Destroy', notification, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Notification', new_notification_path
